body {
  font-family: sans-serif;
}

#image-preview {
  max-width: 500px;
}

#file-input-wrapper {
  height: 0;
  width: 0;
  overflow: hidden;
}
#file-input {
  /* visibility: hidden; */
}

#file-input-label,
#send-to-server-btn,
#snapshoot-btn {
  margin: 10px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}
